{% extends "layout.html" %}
{%block body %}
    <!-- Section : A -->
    <section id="work_a" class="text_center py_3">
        <div class="container">
            <h1 class="special_title">My Work</h1>
            <div class="bottom_line"></div>
            <p class="lead">Take look at my projects</p>
          
            <div class="items">
                <div class="item">
                    <div class="item_image">
                       
                        <img src="{{ url_for('static', filename='img/items/img5.PNG') }}" alt="">
                  
                    </div>
                    <div class="item_text">
                        <div class="item_text_wrap">
                            <a href="https://tidyblue.netlify.app/" target="_blank">
                            <p class="item_text_category">Web Application</p>
                            <h2 class="item_text_heading">Enviornment</h2>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_image">
                        <img src="{{url_for('static',filename='./img/cart.PNG')}}" alt="">
                    </div>
                    <div class="item_text">
                        <div class="item_text_wrap">
                            <p class="item_text_category">Shopping Cart</p>
                            <h2 class="item_text_heading">Buying Items</h2>
                        </div>
                    </div>
                </div>
                <!-- <div class="item">
                    <div class="item_image">
                        <img src="{{url_for('static',filename='img/items/netflix.png')}}" alt="">
                    </div>
                    </div> -->
                    <!-- <div class="item_text">
                        <div class="item_text_wrap">
                            <a href="https://quotewmingle.netlify.app/" target="_blank"></a>
                            <p class="item_text_category">Netflix clone</p>
                            <h2 class="item_text_heading">Face The Experience</h2>
                        </a>
                        </div>
                    </div>
                </div> -->
                <div class="item">
                    <div class="item_image">
                     
                        <img src="{{url_for('static',filename='img/items/quotes.PNG')}}" alt="">
                    </div>
                    <div class="item_text">
                        <div class="item_text_wrap">
                            <a href="https://quotewmingle.netlify.app/" target="_blank">
                            <p class="item_text_category">Quotes Website</p>
                            <h2 class="item_text_heading">Node.JS</h2>
                        </a>
                            </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="item">
                    <div class="item_image">
                        <img src="{{url_for('static',filename='img/items/item5.png')}}" alt="">
                    </div>
                    <div class="item_text">
                        <div class="item_text_wrap">
                            <p class="item_text_category">Mobile UI Design</p>
                            <h2 class="item_text_heading">Face The Experience</h2>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_image">
                        <img src="{{url_for('static',filename='img/items/item6.png')}}" alt="">
                    </div>
                    <div class="item_text">
                        <div class="item_text_wrap">
                            <p class="item_text_category">Design Concept</p>
                            <h2 class="item_text_heading">Bezier Curves</h2>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_image">
                        <img src="{{url_for('static',filename='img/items/item7.png')}}" alt="">
                    </div>
                    <div class="item_text">
                        <div class="item_text_wrap">
                            <p class="item_text_category">Photography</p>
                            <h2 class="item_text_heading">Dark Ponder</h2>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_image">
                        <img src="{{url_for('static',filename='img/items/item8.png')}}" alt="">
                    </div>
                    <div class="item_text">
                        <div class="item_text_wrap">
                            <p class="item_text_category">Web Application</p>
                            <h2 class="item_text_heading">Restaurant</h2>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_image">
                        <img src="{{url_for('static',filename='img/items/pexels-photo-747964.jpeg')}}" alt="">
                    </div>
                    <div class="item_text">
                        <div class="item_text_wrap">
                            <p class="item_text_category">Social Network Concept</p>
                            <h2 class="item_text_heading">FriendFeed</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </section>

    
    <!-- Footer -->
    
    
{% endblock %}